:root {
    --accordion-title-color: var(--color-text-primary);
    --accordion-title-padding-left: 0;
    --accordion-title-padding-top: var(--spacing-016);
    --accordion-title-padding-right: 30px;
    --accordion-title-padding-bottom: var(--spacing-016);
    --accordion-title-padding: var(--spacing-016) 0;
    --accordion-title-font-family: var(--body-font-family);
    --accordion-title-font-size: 20px;
    --accordion-title-font-weight: var(--font-weight-bold);
    --accordion-title-line-height: 1.4;
    --accordion-title-letter-spacing: 1px;
    --accordion-title-text-transform: uppercase;
    --accordion-title-font: normal var(--accordion-title-font-weight)
        var(--accordion-title-font-size) / var(--accordion-title-line-height)
        var(--accordion-title-font-family);
    --accordion-subtitle-color: var(--accordion-title-color);
    --accordion-subtitle-font-family: var(--body-font-family);
    --accordion-subtitle-font-size: 18px;
    --accordion-subtitle-font-weight: 300;
    --accordion-subtitle-letter-spacing: 1px;
    --accordion-subtitle-text-transform: uppercase;
    --accordion-subtitle-line-height: var(--accordion-title-line-height);
    --accordion-subtitle-font: normal var(--accordion-subtitle-font-weight)
        var(--accordion-subtitle-font-size) / var(--accordion-subtitle-line-height)
        var(--accordion-subtitle-font-family);
    --accordion-border: 1px solid var(--stroke-light-2);
    --accordion-closed-icon: '+';
    --accordion-open-icon: '−';
    --accordion-open-background-color: var(--background-color);
    --accordion-open-body-background-color: var(--accordion-open-background-color);
    --accordion-body-padding: var(--spacing-008) var(--spacing-040) var(--spacing-024) 0;
    --accordion-body-color: var(--color-text-primary);
    --accordion-body-heading-color: var(--accordion-body-color);
    --accordion-body-paragraph-color: var(--accordion-body-color);
    --accordion-body-list-color: var(--accordion-body-color);
    --accordion-body-anchor-color: var(--accordion-body-color);
    --accordion-body-anchor-hover-color: var(--accordion-body-anchor-color);
    --accordion-body-anchor-active-color: var(--accordion-body-anchor-color);
    --accordion-icon-size: var(--icons-size-icon-medium);
}

.accordion {
    details {
        border-bottom: var(--accordion-border);
        border-radius: 0;
        margin-bottom: 0;

        & + details {
            border-top: none;
        }

        p {
            margin-bottom: 0.8em;
        }

        summary {
            position: relative;
            padding: 0;
            cursor: pointer;
            list-style: none;
            overflow: visible;
            transition: background-color 0.2s;
            color: var(--accordion-title-color);

            &::-webkit-details-marker {
                display: none;
            }

            .accordion-title-container {
                display: flex;
                flex-direction: column;
                padding: var(--accordion-title-padding);
                min-height: 48px;
            }

            .accordion-title {
                margin: 0;
                font: var(--accordion-title-font);
                text-transform: var(--accordion-title-text-transform);
                letter-spacing: var(--accordion-title-letter-spacing);
                color: var(--accordion-title-color);
            }

            .accordion-subtitle {
                margin: 8px 0 0;
                font: var(--accordion-subtitle-font);
                text-transform: var(--accordion-subtitle-text-transform);
                letter-spacing: var(--accordion-subtitle-letter-spacing);
                color: var(--accordion-subtitle-color);
            }

            &::after {
                content: '+' / '';
                font-family: var(--body-font-family);
                font-weight: 300;
                position: absolute;
                right: 0;
                top: var(--spacing-016);
                font-size: var(--accordion-icon-size);
                line-height: var(--accordion-icon-size);
                display: inline-block;
                overflow: hidden;
                text-align: center;
                vertical-align: middle;
                color: inherit;
                transition: transform 0.2s ease-out;
                transform: rotate(0deg);
            }
        }

        &[open] {
            summary {
                background-color: var(--accordion-open-background-color);

                &::after {
                    content: '−' / '';
                    transform: rotate(-180deg);
                }
            }
        }

        .accordion-item-body {
            padding: var(--accordion-body-padding);
            background-color: var(--accordion-open-body-background-color);
            color: var(--accordion-body-color);

            h1,
            h2,
            h3,
            h4 {
                color: var(--accordion-body-heading-color, var(--accordion-body-color));
            }

            p {
                color: var(--accordion-body-paragraph-color, var(--accordion-body-color));
            }

            ul,
            ol,
            li {
                color: var(--accordion-body-list-color, var(--accordion-body-color));
            }

            a {
                color: var(--accordion-body-anchor-color, var(--accordion-body-color));

                &:hover {
                    color: var(
                        --accordion-body-anchor-hover-color,
                        var(--accordion-body-anchor-color, var(--accordion-body-color))
                    );
                }

                &:active {
                    color: var(
                        --accordion-body-anchor-active-color,
                        var(--accordion-body-anchor-color, var(--accordion-body-color))
                    );
                }
            }
        }

        &:not([open]) .accordion-item-body {
            display: none;
        }
    }

    &.no-motion details {
        summary {
            transition: none;

            &::after {
                transition: none;
            }
        }
    }
}

.keyfocus {
    .accordion summary {
        &:focus,
        &:focus-within {
            outline: var(--focus-outline);
        }
    }
}

