.image {
  overflow: hidden;
  border-radius: var(--radius-s);

  picture {
    display: block;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: var(--image-border-radius, 0);
  }
}
