.button a,
.button a:visited {
  display: inline-block;
  padding: var(--spacing-002) var(--spacing-008);
  border-radius: var(--border-radius);
  background-color: var(--link-color);
  color: var(--background-color);
  text-decoration: none;
  font-weight: 600;
}

.button a:hover {
  background-color: var(--link-hover-color);
}

.button a.primary {
  background-color: var(--color-brand-primary, var(--link-color));
}

.button a.secondary {
  background-color: transparent;
  border: 2px solid var(--link-color);
  color: var(--link-color);
}
